@model IEnumerable<Domain.Entities.User.FarmerUser>
@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="academy-users">Пользователи</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.АccountBlocking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.АccountBlocking)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "UserEdit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
