@model IEnumerable<Domain.Entities.Breeding.BreedingReminder>

@{
    ViewBag.Title = "Овцеводство - Напоминания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="georgia-handler">Сервис Животноводство.</h4>
<h1 class="academy-camel">Овцеводство. Напоминания.</h1>
<br />
<p class="shift">
    <a href="/Breeding/SheepYoung">Молодняк</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="/Breeding/SheepComing">Приход</a> &#10132; <a href="/Breeding/SheepCharges">Затраты</a> &nbsp;
    <a href="/Breeding/SheepDailyProfits">Ежедневная прибыль</a> &#10132; <a href="/Breeding/SheepProfits">Уход</a> &nbsp; &nbsp; &nbsp; &nbsp; Напоминания
</p>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="georgia-handlers">
                <th>
                    @Html.DisplayNameFor(model => model.AnimalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemindDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemindDays)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr">
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemindDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemindDays)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "SheepRemindingEdit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                    <td>
                        @Html.ActionLink("X", "SheepRemindingDelete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        <tbody>
    </table>
    <a class="btn btn-primary btn-xs inlet" href="/Breeding/SheepRemindingCreate">Добавить</a>
</div>


