@model Domain.Entities.Breeding.BreedingDailyProfit

@{
    ViewBag.Title = "Овцеводство - Удаление ежедневной прибыли.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Животноводство.</h4>
<h3 class="academy-camel">Овцеводство. Ежедневная прибыль.</h3>
<h3>Вы уверены, что хотите это удалить  &nbsp; @Model.Name  &nbsp;  @Model.Amount  &nbsp; @Model.MassType ?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Овцеводство. Ежедневная прибыль.", "SheepDailyProfits")
    }

</div>


