@model IEnumerable<Domain.Entities.Growing.GrowingFieldComings>

@{
    ViewBag.Title = "Кормовые корнеплоды/клубнеплоды/бахчевые - Приход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="georgia-handler">Сервис Растениеводство.</h4>
<h1 class="academy-field">Кормовые корнеплоды-клубнеплоды-бахчевые</h1>
<br />
<p class="shift">Приход &#10132; <a href="/Growing/FodderCharges">Затраты</a> &#10132; <a href="/Growing/FodderProfits">Уход</a></p>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="georgia-handlers">
                <th>
                    @Html.DisplayNameFor(model => model.LandingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CultureType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MassType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrencyType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr">
                    <td>
                        @Html.DisplayFor(modelItem => item.LandingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CultureType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MassType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Смотреть", null, new { id = item.Id }, new { @class = "btn btn-success btn-xs", href = item.Document, target = "_blank", title = "Предварительно загрузите PDF - файл!" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "FodderComingEdit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                    <td>
                        @Html.ActionLink("X", "FodderComingDelete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        <tbody>
    </table>
    <a class="btn btn-primary btn-xs inlet" href="/Growing/FodderComingCreate">Добавить</a>
</div>


